<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <meta charset="utf-8">
    <meta name="description" content="Liquidator">
   <title>{% block title %}{% endblock %} - Liquidator</title>
    <script src="{{url_for('static',filename='js/script.js')}}" defer></script>
  </head>
<body>
<header>Liquidator Logo</header>
    <main>
      <div id="bdiv">          
<nav>
  <h1 ><a href="index">Liquidator</a></h1>
  <ul>
    {% if g.user %}
      <li><span> Good Day {{ g.user['username'] }}!</span>
      <br><br>
      <li><a href="{{ url_for('logout') }}">Log Out</a>
      <li><a href="{{ url_for('openAccount') }}">Open a liquidating bank account</a>
      <br><br>
      <button class="send__data__btn">find value of wallet</button>
      <button id="connectButton">connect Wallet</button>
      <button id="getAccounts">show connected wallet #</button>
      <br><br>
      Connected Wallet:
      <input type="text" id="getAccountsResults" readonly>
      <br><br>
      wallet value = ${{ g.user['walletValue'] }}
    {% else %}
      <li><a href="{{ url_for('register') }}">Register</a>
      <li><a href="{{ url_for('login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% if g.user.accounts %}
  thank you for banking with us.<br> "we do not knowingly commingle funds."<br><br>
  {% endif %}
  {% if g.user.walletValue %}
  wallet value is {{ g.user['walletValue'] }}
  {% endif %}  
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</form>
This application is for educational purposes only. <br>
Any deposited money may be lost.<br>Administrator bears no responsibility for lost money or tokens.<br>Do not use.
      </div>
    </main>
  </body>
</html>
